
// .center{
//     .fl{
//         .fr{
//             .username{
//                     display: flex!important;
//                     align-items: center;
//             }
//         }
//     }
// }
.username{
    display: flex!important;
    align-items: center;
    justify-content: center;
}